/* Universal Selector */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Elemental Selectors */

body,
footer {
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

main {
  width: 75%;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  text-align: center;
  display: block;
}

footer h2 {
  font-size: 20px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* Class Selectors */

.seo {
  color: #d9dcd6;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.benefits {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefits h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.services {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.services img {
  max-height: 200px;
}

.services h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* ID Selectors */

#splash {
  height: auto;
  width: 100%;
  margin-bottom: 25px;
}

